
body{
    margin: 0px;
}
.container{
    background-color: black;
    height: 500px;
    width: 300px;
    position: relative;
    left: 100px;
}
.red{
    height:100px;
    width:100px;
    background-color: red;
    position:fixed;
    left:0;
    top: 0;
  }
  .blue{
    height:100px;
    width:100px;
    background-color: blue;
    position:absolute;
    left:100px;
    top:100px; 
  }
  .yellow{
    height:100px;
    width:100px;
    background-color: yellow;
    position:absolute;
    left:200px;
    top:200px; 
  }